.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-black-light);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 99999;
  transition: all 0.3s ease;
  padding: 0 1rem;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);

  &.active {
    background-color: var(--main-white);
    color: var(--main-black-light);

    button {
      color: var(--main-black-light);
    }
  }

  main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;

    .logo {
      position: relative;
      font-size: 1.8rem;
      font-weight: 200;
      z-index: 999;
      letter-spacing: 1px;
      transition: all 0.3s ease;
      cursor: pointer;

      &.show {
        color: #000;
      }

      .buddy {
        font-weight: 500;
        margin-left: 0.2rem;
      }

      .dot {
        position: absolute;
        top: -0.2rem;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: var(--main-green);
        transition: all 0.3s ease-in-out;
      }

      .dot.loaded {
        top: 1.1rem;
        width: 70px;
        height: 2px;
        border-radius: 0.5rem;
      }

      .dot1 {
        left: 3.2rem;
      }

      .dot2 {
        left: 4.3rem;
      }

      .dot1.loaded {
        left: -0.5rem;
      }

      .dot2.loaded {
        width: 90px;
        left: 4.1rem;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      transition: all 0.3s ease-in-out;

      .link {
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 500;

        &::before {
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          content: "";
          height: 2px;
          width: 0;
          border-radius: 1rem;
          background-color: var(--main-green);
          transition: all 0.3s ease-in-out;
        }

        &:hover,
        &.active {
          &::before {
            width: 100%;
          }
        }
      }

      .user {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: default;

        img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          object-fit: cover;
        }

        i {
          cursor: pointer;
          font-size: 0.9rem;
        }

        .options {
          position: absolute;
          top: 3.25rem;
          right: 0;
          padding: 1.25rem;
          background-color: #fff;
          border: 1px solid lightgray;
          border-radius: 0.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          color: #000;
          width: max-content;
          scale: 0;
          transition: all 0.3s ease-in-out;
          transform-origin: 100% 0;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
          cursor: default;
          z-index: 999;
        }

        .options.open {
          scale: 1;
        }

        .link {
          position: relative;
          font-weight: 400;
        }

        a::before {
          position: absolute;
          bottom: -0.2rem;
          left: 0;
          content: "";
          height: 2px;
          width: 0;
          border-radius: 50%;
          background-color: var(--main-green);
          transition: all 0.3s ease;
        }

        a:hover::before {
          width: 100%;
        }
      }
    }

    button {
      border: 1px solid var(--main-green);
      font-weight: 500;
      color: var(--main-white);

      &:hover,
      &.active {
        border-radius: 2rem;
        background-color: var(--main-green);
        color: var(--main-white);
      }
    }

    .mobile_menu {
      position: absolute;
      top: 0;
      right: 0rem;
      height: 100%;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;
      z-index: 999;
      display: none;

      &.show {
        color: #000;
      }

      .burger,
      .close {
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.5s ease;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0;
      }

      .burger.active,
      .close.active {
        scale: 1;
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 1px solid lightgray;
    z-index: 99;
  }

  .bottomMenu {
    width: 100%;
    max-width: var(--max-width);
    padding: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 300;
    color: var(--main-gray-light);
    transition: all 0.3s ease-in-out;

    &.hide {
      display: none;
    }

    .link {
      width: 100%;
      max-width: max-content;
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        content: "";
        height: 2px;
        width: 0;
        border-radius: 1rem;
        background-color: var(--main-green);
        transition: all 0.3s ease-in-out;
      }

      &:hover,
      &.active {
        &::before {
          width: 100%;
        }
      }
    }
  }

  // Responsive screens
  @media screen and (max-width: 768px) {
    padding: 0 2rem;

    main {
      .links {
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        background-color: var(--main-white);
        color: #000;
        outline: 1px solid var(--main-green);
        transform-origin: 100% 0%;
        scale: 0;

        &.show {
          scale: 1;
        }

        .link {
          font-weight: 600;
          font-size: 1.5rem;
        }

        .user .options .link {
          font-size: 0.9rem;
        }
      }

      .mobile_menu {
        display: flex;
      }
    }

    button {
      background-color: var(--main-green);
      color: #fff;
      width: 250px;
      font-weight: 600;
      font-size: 1.5rem;
    }

    .bottomMenu {
      display: none;

      &.active {
        display: flex;

        &.hide {
          display: flex;
        }
      }
    }
  }
}
